---
import Layout from '../layouts/Layout.astro';

    const fechaHoy = new Date();
    const ano = fechaHoy.getFullYear();
    const mes = String(fechaHoy.getMonth() + 1).padStart(2, '0'); 
    const dia = String(fechaHoy.getDate()).padStart(2, '0');
    let fechaCompleta = `${ano}-${mes}-${dia}`;
---


<Layout>

    <main class="container-general">
        <h1>LISTA DE VENTAS</h1> 

        <div class="modulo-busqueda">
            <div class="campo-busqueda">
                <label for="fechaSeleccionada">Fecha</label>
                <input type="date" id="fechaSeleccionada" value={fechaCompleta} />
            </div>
            <button id="buscarVentas">Buscar Ventas</button>
        </div>

        <table id="listaVentas"></table>

        <div class="container-boton_agregar">
            <a href="/ventas/agregar-ventas" class="boton-agregar">Agregar Venta</a>
        </div>

    </main>

    <script type="module">

        const button = document.getElementById("buscarVentas");

        button.addEventListener("click", async () => {
            const fecha = document.getElementById("fechaSeleccionada").value;

            const response = await fetch(`/api/ventas/vista-ventas?fecha=${fecha}`);
            const ventas = await response.json();

            const tablaVentas = document.getElementById("listaVentas");

            tablaVentas.innerHTML = "";

            // Si no hay registros, mostrar mensaje de error
            if (ventas.mensaje) { 
                tablaVentas.innerHTML = `
                    <tbody>
                        <tr>
                            <td colspan="5" style="color: red; text-align: center;">${ventas.mensaje}</td>
                        </tr>
                    </tbody>
                `;
                return;
            }

            const thead = document.createElement("thead");
            thead.innerHTML = `
                <tr>
                    <th>Fecha</th>
                    <th>Empleado</th>
                    <th>Servicio</th>
                    <th>Descripcion</th>
                    <th>Monto</th>
                </tr>
            `;
            tablaVentas.appendChild(thead);

            const tbody = document.createElement("tbody");

            ventas.forEach(venta => {

                // Formatear fecha
                const fechaObjeto = new Date(venta.fecha + "T00:00:00");
                const opcionesFormato = { day: "2-digit", month: "2-digit", year: "numeric" };
                const fechaFormateada = fechaObjeto.toLocaleDateString("es-ES", opcionesFormato);

                const tr = document.createElement("tr");
                tr.innerHTML = `
                    <td>${fechaFormateada}</td>
                    <td>${venta.empleado.toUpperCase()}</td>
                    <td>${venta.servicio.toUpperCase()}</td>
                    <td>${venta.descripcion}</td>
                    <td>${venta.monto}$</td>
                `;

                tbody.appendChild(tr);
            });     

            tablaVentas.appendChild(tbody);
        });
    </script>

    
</Layout>

